.col-12{
    padding: 10px 30px 10px 30px;
    text-align: center;
    display: grid;
    justify-content: center;
}

p{
    font-size: .8rem;
    text-align: justify;
}
h3{
    text-align: start;;
}
li{
    text-align: start;
    font-weight: bold;
}

.card{
    margin-top: 50px;
    width: 25rem;
}

